* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

.bodyWrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: max-content 1fr / 1fr minmax(max-content, 4fr) 1fr;
    padding: 30px;
}

.contentWrapper {
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-area: 1/2/2/3;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header {
    background-color: #6b7280;
    border-radius: 25px 25px 0 0;
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 100px;
}

.content {
    background-color: #9ca3af;
    display: grid;
    grid-template: 1fr min-content 1fr/ 1fr min-content 1fr;
    place-items: center ;
    padding: 20px;
    border-radius: 0 0 25px 25px;
}

.gameBoard {
    grid-area: 2/2/3/3;
    background-color: #374151;
    height: 360px;
    width: 360px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.gameInput {
    border: solid black 1px;
    font-size: 100px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.playerSel {
    display: grid;
    background-color: #6b7280;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    height: 120px;
    font-size: large;
}

input[type="text"] {
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: #374151;
}

input[type="text"]:focus-visible {
    outline: none;
}

.buttons {
    width: 360px;
    grid-area: 1/2/2/3;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 20px;
    justify-content: space-between;
}

button {
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #4b5563;
    cursor: pointer;
}

.winner {
    background-color: #4b5563;
    grid-area: 3/2/4/3;
    padding: 20px;
    border-radius: 10px;
    width: 240px;
    text-align: center;
    height: 60px;
}