* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bodyWrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 150px 1fr;
}

.header {
    background-color: red;
}

.content {
    background-color: green;
    display: grid;
    place-items: center ;
}

.game {
    background-color: yellow;
    height: 360px;
    width: 360px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.gameInput {
    border: solid black 1px;
}



