* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bodyWrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: max-content 1fr / 1fr minmax(max-content, 5fr) 1fr;
    padding: 30px;
}

.contentWrapper {
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-area: 1/2/2/3;
}

.header {
    background-color: red;
}

.content {
    background-color: green;
    display: grid;
    grid-template: min-content 1fr 1fr/ 1fr min-content 1fr;
    place-items: center ;
    padding: 20px;
}

.gameBoard {
    background-color: yellow;
    height: 360px;
    width: 360px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.gameInput {
    border: solid black 1px;
    font-size: 100px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.playerSel {
    display: grid;
}

.buttons {
    grid-area: 2/2/3/3;
}

.winner {
    background-color: rgb(170, 170, 250);
    grid-area: 3/2/4/3;
}